INSTANCE_NAME=timesync-dev
SECRET_KEY=secret
PORT=8800
NODE_ENV=development
TIMESYNC_AUTH_MODULES=["password"]
TIMESYNC_LDAP_URL=
TIMESYNC_LDAP_SEARCH_BASE=
SQLITE_CONNECTION_FILE=
MYSQL_CONNECTION_STRING=
PG_CONNECTION_STRING=